*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NavBar Style */
header{
    background-color: #FFFFFF;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
}
.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
a{
    text-decoration: none;
    color: #575757;
    font-family: inter;
    font-size: 16px;
}
.menu li{
    list-style: none;
}
.reg-btn{
    border: none;
    padding: 10px 20px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-family: inter;
    font-size: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.reg-btn:hover{
    background-color: #0c3bbb;
}

/* Hero section style */
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image:linear-gradient( to right ,rgba(0, 0, 0, 0.826),rgba(0, 0, 0, 0.17)),
    url("./assets/banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero-text{
    width: 700px;
    position: absolute;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.hero-heading{
    font-family: inter;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: 900;
}
.hero-para{
    font-family: inter;
    font-weight: 200;
    color: #ffffff;
    font-size: 21px;
    line-height: 24px;

}
.hero-btn{
    border: none;
    padding: 18px 36px;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-family: inter;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 120px;
}
.hero-btn:hover{
    background-color: #0c3bbb;
}

/* Speakers Section Style */
.speaker-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin:0 auto;

}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    
}
.speaker-title{
    text-align: center;
    font-family: inter;
    font-weight: bold;
    font-size: 54px;
    color: #000102;
    margin-top: 60px;
    margin-bottom: 45px;
}
.card{
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
    max-width: 450px;
    
}
img{
   width: 100%;
   display: block;
   object-fit: cover;
}
.speaker-text{
    padding: 20px;
    line-height: 30px;
}
.speaker-text h4{
    color: #2563EB;
    font-family: inter;
    font-weight: 600;
}
.speaker-text h3{
    color: #0D1B2A;
    font-family: inter;
    font-weight: bold;
}
.speaker-text p{
    color: #575757;
    font-family: inter;
    font-weight: 400;
}

/* Ticket Section style */
.ticket-title{
    text-align: center;
    font-family: inter;
    font-weight: bold;
    font-size: 46px;
    color: #000102;
    margin-top: 100px;
}
.ticket-para{
    text-align: center;
    font-family: inter;
    font-weight: 400;
    font-size: 16px;
    color: #575757;
    margin: 10px;
    padding-bottom: 26px
}
.ticket-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.ticket-card{
    background-color: #FFFFFF;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 22px 22px;
    width: 300px;
}
.ticket-card-extra{
    background-color: #0D1B2A;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 22px 22px;
    width: 300px;
}
.top-text{
    line-height: 36px;
    border-bottom: 1px solid #E5E7EB;
    padding-bottom: 10px;
}

.top-text-extra{
    line-height: 36px;
    border-bottom: 1px solid #ffffff35;
    padding-bottom: 10px;
}

.top-text p{
    font-size: 12px;
    font-family: inter;
    font-weight: 600;
    color: #888888;
}
.top-text h1{
    font-size: 44px;
    font-family: inter;
    font-weight: bold;
    color: #0D1B2A;
}
.top-text h5{
    font-size: 12px;
    font-family: inter;
    font-weight: 400;
    color: #888888;
}
.extra-price-name{
    font-size: 12px;
    font-family: inter;
    font-weight: 600;
    color: #93C5FD;
}
.extra-price{
    font-size: 44px;
    font-family: inter;
    font-weight: bold;
    color: #FFFFFF;
}
.extra-p{
    font-size: 12px;
    font-family: inter;
    font-weight: 400;
    color: #ffffffc0;
}
.middle-text{
    font-size: 14px;
    font-family: inter;
    font-weight: 400;
    color: #333333;
    line-height: 26px;
    padding: 20px 10px;
}
.middle-text li::marker{
    color: #2563EB;
}
.middle-text-extra{
    color: #ffffffb4;
}
.bottom-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ticket-btn{
    width: 100%;
    padding: 12px 0;
    border: 1px solid #2563EB;
    border-radius: 8px;
    font-family: inter;
    font-size: 14px;
    font-weight: 600;
    background: none;
    color: #2563EB;
    
}
.ticket-btn:hover{
    background-color: #2563EB;
    color: #FFFFFF;
    transition: 0.5s;
}
.ticket-btn-extra{
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    font-family: inter;
    font-size: 14px;
    font-weight: 600;
    background-color: #2563EB;
    color: #FFFFFF;
}
.ticket-btn-extra:hover{
    background-color: #FFFFFF;
    color: #2563EB;
    transition: 0.5s;
}
.ticket-btn-last{
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
}
.ticket-btn-last:hover{
    border: none;
    transition: 0.5s
}